{% extends 'base.html.twig' %}

{% block title %}New Invitation{% endblock %}

{% block body %}
    <h1>Create new Invitation</h1>

    {{ include('invitation/_form.html.twig') }}

    <a href="{{ path('app_invitation_index') }}">back to list</a>
{% endblock %}
